/* .swiper-button-prev,
.swiper-button-next{
    background-color: red;
    border-radius: 100%;
} */
.sliderHome .sliderHome{
    overflow: inherit!important;
}
.sliderHome .swiper {
    overflow: visible !important;
  }
  