.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #ff5252 !important;
}

.sidebar .scroll {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;    
    left:-10px;
}

.sidebar .ReactCollapse--collapse {
    transition: height 400ms!important;
  }

  .sidebar .box  .range-slider{
    height: 3px!important;
  }
  .sidebar .box  .range-slider__range{
      background-color: #ff5252!important;
  }
  .sidebar .box  .range-slider__thumb{
      width: 14px!important;
      height: 14px!important;
      background-color: #ff5252!important;

    }
