@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* *{
    } */
.container {
    width: 95%;
    margin: auto;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
    background-color: #f5f0f0;
    color: #434343;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb {
    background: #ff5252;
}

::-webkit-scrollbar-track {
    background: #fff;
}

.bg-org {
    background-color: #ff5252;
}

.color-org {
    color: #ff5252;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: none;
    color: #ff5252 !important;
}

/* err in telwing */
.items-center {
    align-items: center;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-5 {
    gap: 1.25rem;
}
.gap-6 {
    gap: 1.5rem;
}
.gap-7 {
    gap: 1.75rem;
}

.gap-8 {
    gap: 2rem;
}

.border-gray {
    border-color: #E2E8F0 !important;
}


.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-5 {
    padding-top: 1.25rem!important;
    padding-bottom: 1.25rem!important;
}

.py-6 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.py-7 {
    padding-top: 1.75rem !important;
    padding-bottom: 1.75rem !important;
}

.py-8 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.py-10 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.py-16 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-4 {
    padding-top: 1rem !important;
}
.pt-10 {
    padding-top: 2.5rem !important;
}

.p-0 {
    padding: 0rem!important;
}
.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.p-5 {
    padding: 1.25rem!important;
}
.p-8 {
    padding: 2rem;
}

.pb-0 {
    padding-bottom: 0rem !important;
}
.pb-8 {
    padding-bottom: 2rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-4 {
    padding-bottom: 1rem !important;
}

.pb-5 {
    padding-bottom: 1.25rem !important;
}

.transition {
    transition: all 0.3s ease;
}

/* icons color */
.MuiBadge-badge {
    background-color: #ff5252 !important;
}

.bg-white {
    background-color: white !important;
}

.text-black {
    color: black !important;

}

.text-white {
    color: white !important;

}

.pl-3 {
    padding-left: 0.75rem;
}
.pl-4 {
    padding-left: 1rem;
}

.pl-5 {
    padding-left: 1.25rem;
}

.pl-8 {
    padding-left: 2rem;
}
.pl-10 {
    padding-left: 2.5rem;
}

.px-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}
.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.px-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.px-10 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}


.pr-2 {
    padding-right: 0.5rem !important;
}
.pr-4 {
    padding-right: 1rem !important;
}
.pr-8 {
    padding-right: 2rem !important;
}

.pr-10 {
    padding-right: 2.5rem !important;
}

.m-0 {
    margin: 0rem !important;
}
.m-2 {
    margin: 0.5rem !important;
}
.m-1 {
    margin: 0.25rem !important;
}
.m-auto {
    margin: auto !important;
}
.mb-0 {
    
    margin-bottom: 0rem !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 0.75rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.mb-5 {
    margin-bottom: 1.25rem !important;
}

.mb-7 {
    margin-bottom: 1.75rem !important;
}

.mt-0 {
    margin-top: 0.rem !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}
.mt-4 {
    margin-top: 1rem !important;
}
.mt-5 {
    margin-top: 1.25rem !important;
}
.mt-6 {
    margin-top: 1.5rem !important;
}
.mt-10 {
    margin-top: 2.5rem !important;
}
.ml-auto{
    margin-left:auto!important;
}
.mr-auto{
    margin-right:auto!important;
}
.ml-0{
    margin-left:0px!important;
}
.mr-2{
    margin-right:0.5!important;
}

nav ul button {
    text-transform: capitalize !important;
    /* color:rgba(0, 0,0, 0.7)!important; */
}

/* nav ul button:hover{
    text-transform: capitalize!important;
    color:#ff5252!important;
} */
nav ul button:hover .MuiTouchRipple-root {
    background: rgba(0, 0, 0, 0.1) !important;
}

.flex-col {
    flex-direction: column !important;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    width: 45px !important;
    height: 45px;
    box-shadow: 0 1px 3px #00001f, 0 1px 2px #00003d !important;

}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 22px !important;
    color: #000 !important;
}

.rounded-sm {
    border-radius: 2px !important;
}

.homeCatSlider {
    overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
    width: 30px !important;
    height: 30px;
    min-width: 30px;
}

.homeCatSlider .swiper-button-prev::after,
.homeCatSlider .swiper-button-next::after {
    font-size: 16px !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    top: 55% !important;
}


.smlBtn .swiper-button-next::after,
.smlBtn .swiper-button-prev::after {
    font-size: 18px !important;
}

/* a */
.homeCatSlider .swiper-button-prev {
    left: -10px !important;
}

.homeCatSlider .swiper-button-next {
    right: -10px !important;

}

.homeCatSlider .swiper-button-next:hover,
.homeCatSlider .swiper-button-prev:hover {
    background-color: #ff5252 !important;
}

.homeCatSlider .swiper-button-next:hover::after,
.homeCatSlider .swiper-button-prev:hover::after {
    color: #fff !important;
}

.homeCatSlider .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .item:hover img {
    transform: scale(1.1);
}

.rounded-lg {
    border-radius: 0.5rem;
}

.bannerBox:hover img {
    transform: scale(1.05) rotate(1deg);

}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #ff5252 !important;

}

.MuiTabs-indicator {
    background-color: #ff5252 !important;
}

.rounded-md {
    border-radius: 0.375rem;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.productsSlider .swiper-wrapper {
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

.text-primary {
    color: #ff5252!important;
}

.bg-primary {
    background-color: #ff5252!important;
}

.text-gray-500 {
    color: #6B7280!important;
}
.text-gray-400 {
    color: #9ca3af!important;
}

.text-black {
    color: black;
}

.btn-gray {
    background: #f1f1f1!important;
    color: rgba(0,0,0,0.8)!important;
    font-weight: 500;
    font-size: 13px;
    border:none!important;
    padding:0.5rem 1.25rem!important;
    border-radius: 0%!important;
}
.btn-gray:hover {
    background: #e9edf0!important;
    
}
.active > .btn-gray {
    color: #ff5252!important;
    border-left: solid 3px #ff5252!important;
}
.btn-org {
    background: #ff5252!important;
    color: #ffffff!important;
    font-weight: 500;
    font-size: 16px;
    padding:7px 20px!important;
}

.btn-org-2 {
    background: #ff5252!important;
    color: #ffffff!important;
    font-weight: 500;
    font-size: 16px;
}
.btn-org:hover {
    background: #171717 !important;
}

.btn-org-3 {
    background: none!important;
    color: #ff5252!important;
    border:1px solid #ff5252!important;
    font-weight: 500;
    font-size: 16px;
    padding:7px 20px!important;
}
.btn-org-3:hover {
    border-color:#171717!important;
    background: #171717 !important;
    color: #fff !important;
}
.MuiCheckbox-root{
    padding:6px!important;

}
.ml-2px{
margin-left: 2px!important;
}

.Mui-selected.MuiPaginationItem-page {
    background-color: #ff5252 !important;
    color: #fff !important; 
}

.swiper-pagination-bullet-active{
    background-color: #ff5252 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #ff5252!important;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
color: #fff!important;
}
.text-green-600{
    color: #16a34a!important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.closeDialogContent{
    position: absolute!important;
    width: 50px!important;
    min-width: 50px!important;
    height: 50px!important;
    top: 12px;
    right: 12px;
    border-radius: 100%!important;
    color: black!important;
    font-size: 30px!important;
}


.card form .password input{
    padding-right: 3rem!important;
}

.showPasswordButton{
    top:7px;
right: 4px!important;
}

.scroll-gray::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.scroll-gray::-webkit-scrollbar-thumb {
    background: #ccc !important;
}
.bg-green-500{
background-color: rgb(34 197 94);
}
.bg-green-700{
    background-color: rgb(21, 128, 61);

}